{% extends 'base.html' %}
{% block title %}Artwork{% endblock %}
{% block links %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/stylesheets/slideshow.css') }}">
{% endblock %}
{% block main %}
    <div class="slideshow-container">
        {% for path in artwork_paths %}
            <div class="mySlides fade">
                <img src="static/images/artwork/{{ path }}" style="width:100%" alt="">
            </div>
        {% endfor %}

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
{% endblock %}
{% block script %}
    <script>
        let slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        // Thumbnail image controls

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            if (n > slides.length) {
                slideIndex = 1
            }
            if (n < 1) {
                slideIndex = slides.length
            }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "flex";
            dots[slideIndex - 1].className += " active";
        }
    </script>
{% endblock %}